<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr.ac.unadeca.todoexam">

    <application
        android:name=".DataBases.ToDoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Registro Recursos Humanos "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="Registro Recursos Humanos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FormularioActivityExam"></activity>
    </application>

</manifest>